body {
  background: #111; 
  color: #ddd;
  font-family: "Andada"; 
  line-height: 1.5em;
  margin:0px;
  font-size: 12px;
}
a {
  color: #ccc
}
.play, .pause, .fullscreen, .hideControls,.volUp, .volDown, .vol {
  width: 2em;
  text-align: center;
  margin-right: 1em;
  float: left;
  cursor:pointer;
}
.vu {
  background-color: #999;
  height:12px;
  bottom: 0px;
  padding: 0px;
  margin-top:8px;
  width:15px;
}

.toggleControl:hover {
  color:#fff;
  cursor:pointer;
}
.bar {
  width: 100%;
  position: absolute;
  padding: 0px;
  height: 2px;
  background-color: #00ff00;
}
.active {
  background-color: #339999;
}
#content {
  clear: both;
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}


#nav {
  clear: both;
  margin-left:auto;
  margin-right: auto;
  margin-top: 20px;
  width: 780px;
}
#nav .item {
  float: left;
  width:  60px;
  padding: 10px;
  text-align: center;
  border-radius: 5px; 
  border: 5px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
}


#footer {
  position:fixed;
  bottom: 0%;
  font-size: 0.8em;
  color:#999;
}

